html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.work-field {
  width: 100%;
  height: 80%;
  background-color: #313638;
}

.setting-field {
  background-color: #bcbcbc;
  width: 100%;
  height: 20%;
}
.setting-block {
  /* width: 15%; */
  display: inline-block;
}
.setting {
  display: block;
}
