html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.work-field {
  width: 100%;
  height: 80%;
  background-color: #313638;
}
.work-field canvas {
  max-width: 50%;
  max-height: 100%;
}

.setting-field {
  background-color: #bcbcbc;
  width: 100%;
  height: 20%;
}
.setting-block {
  display: inline-block;
  border-right: dashed;
  border-color: #313638;
  max-height: 100%;
}
.setting-block p{
  text-align: center;
  border-bottom: dashed;
  border-color: #313638;
}
.setting {
  display: block;
  top: 1%;
}
input[type=range] {
  display: block;
}
label {
  white-space: pre;
}
#widthImg, #heightImg {
  width: 4em;
}
